.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.3);
-webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.3);
-moz-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.3);
    border-radius: 10px;
    height: 100px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .title{
            font-size: 14px;
            font-weight: bold;
            color: rgb(161, 161, 161);
        }
    
        .counter{
            font-size: 28px;
            font-weight: 300;
        }
    
        .link{
            font-size: 12px;
            width: max-content;
            border-bottom: 1px solid gray;
        }

        .percentage{
            font-size: 14px;
            display: flex;
            align-items: center;

            &.positive{
                color: green;
            }

            &.negative{
                color: red;
            }
        }

        .icon{
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}